.navbar-brand img {
    margin-top: -10px;
    max-height: 70px;
    max-width: 70px;
}

@media (min-width: 768px) {
    .navbar-nav>li>a {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
body{
    background: lightgreen;
}
.article .article-description {
    padding: 10px;
}

.resume_item {
    margin-bottom: 40px; 
    text-align: center;
}
.resume_item p {
    margin-top: 10px; 
}
.resume_item:last-child {
    margin-bottom: 0; 
}
.resume_item:last-child p {
    margin-bottom: 0; 
}

.resume_icon 
{
    font-size: 40px;
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
    margin: 0 auto; 
}

.resume-icon-1 {
    background: url(../images/icon-growing.png) top left no-repeat; 
}

.resume-icon-2 {
    background: url(../images/icon-landscaping.png) top left no-repeat; 
}

.resume-icon-3 {
    background: url(../images/icon-care.png) top left no-repeat; 
}

.resume-icon-4 {
    background: url(../images/icon-trade.png) top left no-repeat; 
}