/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20.05.2017, 14:53:44
    Author     : Alex
*/

img{
    margin-top: 20px;
}
.link{

}
body{
    background: lightgreen;
}
.list-group-photo{
    padding-left: 0;
    margin-bottom: 20px;
    display: flex;
}
.list-group-item-photo{
    width: 200px;
    height:100px;
    min-width: 200px;
    margin: auto;
    background: white;
    border:5px solid lightgray;
}
.list-group-item-audio{
    margin: auto;
    background: lightgray;
    border:5px solid lightgray;
}